<div class="jumbotron">
  <h1>Our story begins</h1>
  <h2>on a warm Summer day</h2>
  <h3>in Japan</h3>
  <h4>when...</h4>
</div>
<p><%= @char1 %> was walking home from a workout at the park.</p>
<p>Just as <%= @char1 %> rounded the corner to their house the were run smack over and ended up on floor.</p>
<p>"<%= @char2 %>", they yelled, "why can't you look were you're going? I could've been hurt!!!" </p>
<p>upon closer inspection <%= @char1 %> noticed that <%= @char2 %> was loosely clutching a box that had once had a lid"</p>
<p>"So... what was in the box?" asked <%= @char1 %>.</p>
<p><%= @char2 %> blinked a few times before quietly saying, "a <%= @animal %>...</p>
<h3>"A <%= @animal %>?!?!?!?</h3>
<p>Quickly <%= @char1 %> and <%= @char2 %> grabbed hands and <%= @verb %> all the way back to the <%= @place %>.</p>